body {
    background-color: pink;
}

#infoRecorder input {
    margin: 5px;
    margin-left: 17px;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.largeFont {
    font-weight: bold;
    font-size: 22px;
}

button {
    padding: 7px;
    margin: 5px;
    margin-left: 17px;
    margin-top: 22px;
    border-radius: 7px;
    border: purple 3px inset;
    background-color: white;
    color: purple;
}

input {
    width: 230px;
    margin: 5px;
    margin-top: 11px;
    border: inset turquoise;
    border-radius: 15px;
    padding: 3px;
}

button:hover {
    animation: fadeIn 0.23s forwards;
}

#infoRecorder label {
    font-size: 17px;
    font-weight: bold;
}

.textBold {
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


@keyframes fadeIn {
    from {
        background-color: white;
        color: purple;
        padding: 7px;
    }

    to {
        background-color: purple;
        color: white;
        padding: 11px;
    }
}

